In [133]:
import numpy as np
import pandas as pd
from collections import Counter
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import multilabel_confusion_matrix
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
from sklearn.metrics import f1_score
import nltk
import string
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ganesh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [104]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Ganesh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [105]:
df = pd.read_csv('blogtext.csv')
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681284 entries, 0 to 681283
Data columns (total 7 columns):
id        681284 non-null int64
gender    681284 non-null object
age       681284 non-null int64
topic     681284 non-null object
sign      681284 non-null object
date      681284 non-null object
text      681284 non-null object
dtypes: int64(2), object(5)
memory usage: 36.4+ MB

In [107]:
blog_df=df.head(5000)

In [108]:
blog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
id        5000 non-null int64
gender    5000 non-null object
age       5000 non-null int64
topic     5000 non-null object
sign      5000 non-null object
date      5000 non-null object
text      5000 non-null object
dtypes: int64(2), object(5)
memory usage: 273.5+ KB

# Preprocess rows of the “text” column

In [109]:
REMOVE_PUNCT = string.punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', REMOVE_PUNCT))

blog_df["text_wo_punct"] = blog_df["text"].apply(lambda text: remove_punctuation(text))
blog_df.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,id,gender,age,topic,sign,date,text,text_wo_punct
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info has been found 100 pages and ...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These are the team members Drewes...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks to Yahoos Toolbar I can no...

In [110]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
blog_df["text_wo_stop"] = blog_df["text_wo_punct"].apply(lambda text: remove_stopwords(text))
blog_df.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,id,gender,age,topic,sign,date,text,text_wo_punct,text_wo_stop
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info has been found 100 pages and ...,Info found 100 pages 45 MB pdf files Now wait ...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These are the team members Drewes...,These team members Drewes van der Laag urlLink...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde MAAK JE EI...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks to Yahoos Toolbar I can no...,Thanks Yahoos Toolbar I capture URLs popupswhi...

In [111]:
cnt = Counter()
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])
blog_df["text_wo_stopfreq"] = blog_df["text_wo_stop"].apply(lambda text: remove_freqwords(text))
blog_df.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,id,gender,age,topic,sign,date,text,text_wo_punct,text_wo_stop,text_wo_stopfreq
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info has been found 100 pages and ...,Info found 100 pages 45 MB pdf files Now wait ...,Info found 100 pages 45 MB pdf files Now wait ...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These are the team members Drewes...,These team members Drewes van der Laag urlLink...,These team members Drewes van der Laag urlLink...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde MAAK JE EI...,In het kader van kernfusie op aarde MAAK JE EI...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing,testing testing,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks to Yahoos Toolbar I can no...,Thanks Yahoos Toolbar I capture URLs popupswhi...,Thanks Yahoos Toolbar I capture URLs popupswhi...

In [112]:
blog_df.drop(["text_wo_punct", "text_wo_stop"], axis=1, inplace=True)
n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])
blog_df["text_wo_stopfreqrare"] = blog_df["text_wo_stopfreq"].apply(lambda text: remove_rarewords(text))
blog_df.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,gender,age,topic,sign,date,text,text_wo_stopfreq,text_wo_stopfreqrare
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info found 100 pages 45 MB pdf files Now wait ...,Info found 100 pages 45 MB pdf files Now wait ...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These team members Drewes van der Laag urlLink...,These team members Drewes van der Laag urlLink...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde MAAK JE EI...,In het kader van kernfusie op aarde MAAK JE EI...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks Yahoos Toolbar I capture URLs popupswhi...,Thanks Yahoos Toolbar I capture URLs popupswhi...

In [113]:
lem = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lem.lemmatize(word) for word in text.split()])
blog_df["text_lemmatized"] = blog_df["text_wo_stopfreqrare"].apply(lambda text: lemmatize_words(text))
blog_df.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,id,gender,age,topic,sign,date,text,text_wo_stopfreq,text_wo_stopfreqrare,text_lemmatized
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info found 100 pages 45 MB pdf files Now wait ...,Info found 100 pages 45 MB pdf files Now wait ...,Info found 100 page 45 MB pdf file Now wait un...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These team members Drewes van der Laag urlLink...,These team members Drewes van der Laag urlLink...,These team member Drewes van der Laag urlLink ...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde MAAK JE EI...,In het kader van kernfusie op aarde MAAK JE EI...,In het kader van kernfusie op aarde MAAK JE EI...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing,testing testing,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks Yahoos Toolbar I capture URLs popupswhi...,Thanks Yahoos Toolbar I capture URLs popupswhi...,Thanks Yahoos Toolbar I capture URLs popupswhi...

In [114]:
stem = PorterStemmer()
def stem_words(text):
    return " ".join([stem.stem(word) for word in text.split()])
blog_df["text_preprocessed"] = blog_df["text_lemmatized"].apply(lambda text: stem_words(text))
blog_df.head

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

<bound method NDFrame.head of            id  gender  age              topic      sign            date  \
0     2059027    male   15            Student       Leo     14,May,2004
1     2059027    male   15            Student       Leo     13,May,2004
2     2059027    male   15            Student       Leo     12,May,2004
3     2059027    male   15            Student       Leo     12,May,2004
4     3581210    male   33  InvestmentBanking  Aquarius    11,June,2004
5     3581210    male   33  InvestmentBanking  Aquarius    10,June,2004
6     3581210    male   33  InvestmentBanking  Aquarius    10,June,2004
7     3581210    male   33  InvestmentBanking  Aquarius    10,June,2004
8     3581210    male   33  InvestmentBanking  Aquarius    10,June,2004
9     3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
10    3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
11    3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
12    3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
13    3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
14    3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
15    3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
16    3581210    male   33  InvestmentBanking  Aquarius    09,June,2004
17    3581210    male   33  InvestmentBanking  Aquarius    18,June,2004
18    3581210    male   33  InvestmentBanking  Aquarius    17,June,2004
19    3581210    male   33  InvestmentBanking  Aquarius    16,June,2004
20    3581210    male   33  InvestmentBanking  Aquarius    15,June,2004
21    3581210    male   33  InvestmentBanking  Aquarius    14,June,2004
22    3581210    male   33  InvestmentBanking  Aquarius    13,June,2004
23    3581210    male   33  InvestmentBanking  Aquarius    23,June,2004
24    3581210    male   33  InvestmentBanking  Aquarius    22,June,2004
25    3581210    male   33  InvestmentBanking  Aquarius    20,June,2004
26    3581210    male   33  InvestmentBanking  Aquarius    02,July,2004
27    3581210    male   33  InvestmentBanking  Aquarius    01,July,2004
28    3581210    male   33  InvestmentBanking  Aquarius    01,July,2004
29    3581210    male   33  InvestmentBanking  Aquarius    30,June,2004
...       ...     ...  ...                ...       ...             ...
4970  1103575  female   17             indUnk   Scorpio    06,July,2003
4971  1103575  female   17             indUnk   Scorpio    06,July,2003
4972  1103575  female   17             indUnk   Scorpio    03,July,2003
4973  1103575  female   17             indUnk   Scorpio    03,July,2003
4974  1103575  female   17             indUnk   Scorpio    03,July,2003
4975  1103575  female   17             indUnk   Scorpio    02,July,2003
4976  1103575  female   17             indUnk   Scorpio    01,July,2003
4977  1103575  female   17             indUnk   Scorpio  31,August,2003
4978  1103575  female   17             indUnk   Scorpio  30,August,2003
4979  1103575  female   17             indUnk   Scorpio  30,August,2003
4980  1103575  female   17             indUnk   Scorpio  29,August,2003
4981  1103575  female   17             indUnk   Scorpio  29,August,2003
4982  1103575  female   17             indUnk   Scorpio  29,August,2003
4983  1103575  female   17             indUnk   Scorpio  29,August,2003
4984  1103575  female   17             indUnk   Scorpio  29,August,2003
4985  1103575  female   17             indUnk   Scorpio  29,August,2003
4986  1103575  female   17             indUnk   Scorpio  29,August,2003
4987  1103575  female   17             indUnk   Scorpio  28,August,2003
4988  1103575  female   17             indUnk   Scorpio  28,August,2003
4989  1103575  female   17             indUnk   Scorpio  28,August,2003
4990  1103575  female   17             indUnk   Scorpio  28,August,2003
4991  1103575  female   17             indUnk   Scorpio  28,August,2003
4992  1103575  female   17             indUnk   Scorpio  28,August,2003
4993  1103575  female   17             indUnk   Scorpio  27,August,2003
4994  1103575  female   17             indUnk   Scorpio  27,August,2003
4995  1103575  female   17             indUnk   Scorpio  27,August,2003
4996  1103575  female   17             indUnk   Scorpio  27,August,2003
4997  1103575  female   17             indUnk   Scorpio  27,August,2003
4998  1103575  female   17             indUnk   Scorpio  26,August,2003
4999  1103575  female   17             indUnk   Scorpio  26,August,2003

                                                   text  \
0                Info has been found (+/- 100 pages,...
1                These are the team members:   Drewe...
2                In het kader van kernfusie op aarde...
3                      testing!!!  testing!!!
4                  Thanks to Yahoo!'s Toolbar I can ...
5                  I had an interesting conversation...
6                  Somehow Coca-Cola has a way of su...
7                  If anything, Korea is a country o...
8                  Take a read of this news article ...
9                  I surf the English news sites a l...
10                 Ah, the Korean language...it look...
11                 If you click on my profile you'll...
12                 Last night was pretty fun...mostl...
13                 There is so much that is differen...
14                  urlLink    Here it is, the super...
15                 One thing I love about Seoul (and...
16                  urlLink    Wonderful oh-gyup-sal...
17                 Here is the latest from the Korea...
18                 Well, I stand corrected, again.  ...
19                 So I've been in Vancouver a few d...
20                 Whenever I see a pregnant Korean ...
21                 My wife posed a strange question ...
22                 As readers will know, my favorite...
23                 When I was in Seoul these last fe...
24                 You may have noticed a new featur...
25                 Korea, especially Seoul, is prett...
26                 It seems everything is not all th...
27                 This may be a long blog...got a l...
28                 I've always thought of Seoul's  u...
29                 Big cities are famous for being e...
...                                                 ...
4970         mm...  I was going to rant about time/c...
4971         So, I guess its kind of like this... I ...
4972         this shade of red looks more and more l...
4973         ...look at me... teaching myself html.....
4974         My name is Rachel.  {duh, we already kn...
4975         Another depressing song... I don't know...
4976         I've been falling to pieces for the pas...
4977         I'm suffocating. My lungs are bursting....
4978         peaches are the nectar of the gods.  mm...
4979         AHHH. I need a pillow to scream into. o...
4980           Young.  Really young.  I'd say anywhe...
4981                                that's Sama...
4982
4983
4984           this one looks kinda cool squished li...
4985           yay for uploading my pics on to angel...
4986         Ok, so this is the last time today, I p...
4987         oh, and I forgot...  last night at cant...
4988         So, I got a new commenting host... I di...
4989         Last night was NOT a good night. {end o...
4990         Sometimes, I swear this song is about m...
4991         so much for sleeping...  I know what ti...
4992         I am: a miserable failure incredibly ir...
4993         hey I've had almost 300 hits... WHO ARE...
4994         This is that Sylvia Plath poem I was ta...
4995         So... I had another one of those dreams...
4996         mmm... strawberry tea for breakfast. To...
4997         Yay for a new layout!!  Yeah, I know, I...
4998         Ok, so I lied... Fed up isn't playing F...
4999         well, today I went to church and talked...

                                       text_wo_stopfreq  \
0     Info found 100 pages 45 MB pdf files Now wait ...
1     These team members Drewes van der Laag urlLink...
2     In het kader van kernfusie op aarde MAAK JE EI...
3                                       testing testing
4     Thanks Yahoos Toolbar I capture URLs popupswhi...
5     I interesting conversation Dad morning We talk...
6     Somehow CocaCola way summing things well In ea...
7     If anything Korea country extremes Everything ...
8     Take read news article urlLink JoongAng Ilbo N...
9     I surf English news sites lot looking tidbits ...
10    Ah Korean languageit looks difficult first fig...
11    If click profile youll make notsostartling dis...
12    Last night pretty funmostly company I kept I r...
13    There much different anything Ive ever seen we...
14    urlLink Here superfantastic phonebox Today gre...
15    One thing I love Seoul I mean Korea generalI h...
16    urlLink Wonderful ohgyupsal favorite pork rest...
17    Here latest Korean rumor mill made way Coquitl...
18    Well I stand corrected Yesterday I blogged Coq...
19    So Ive Vancouver days nowin Coquitlam actually...
20    Whenever I see pregnant Korean lady I really f...
21    My wife posed strange question tonight Apparen...
22    As readers know favorite airline Singapore Air...
23    When I Seoul last months I thought wife kinda ...
24    You may noticed new feature blogits blog email...
25    Korea especially Seoul pretty cool Canada espe...
26    It seems everything smooth Seoul concerning re...
27    This may long bloggot lot thoughts going head ...
28    Ive always thought Seouls urlLink subways real...
29    Big cities famous expensive places live others...
...                                                 ...
4970  mm I going rant timeclockswatches like says so...
4971  So I guess kind like I already told Ive fallen...
4972  shade red looks like blood doesnt matter doesn...
4973  look teaching html well I suppose halfway dece...
4974  My name Rachel duh already knew rachel hebrew ...
4975  Another depressing song I dont know I like I s...
4976  Ive falling pieces past several months I think...
4977  Im suffocating My lungs bursting If hit I woul...
4978  peaches nectar gods mmmmmmmmm Sometimes Im lay...
4979  AHHH I need pillow scream oh book Im reading g...
4980  Young Really young Id say anywhere 1535 But yo...
4981                                         thats Sama
4982
4983
4984                 one looks kinda cool squished like
4985  yay uploading pics angelfire putting blog exce...
4986  Ok last time today I promise Im really REALLY ...
4987  oh I forgot last night cantor practice I consi...
4988  So I got new commenting host I didnt like old ...
4989  Last night NOT good night end story Today inte...
4990  Sometimes I swear song 3am Matchbox Twenty say...
4991  much sleeping I know time I know time used I t...
4992  I miserable failure incredibly irresponsible l...
4993  hey Ive almost 300 hits WHO ARE ALL OF YOU PEOPLE
4994  This Sylvia Plath poem I talking Tulips Sylvia...
4995  So I another one dreams last night except time...
4996  mmm strawberry tea breakfast Tomorrow I think ...
4997  Yay new layout Yeah I know I need get complica...
4998  Ok I lied Fed isnt playing Friday night Its Th...
4999  well today I went church talked music director...

                                   text_wo_stopfreqrare  \
0     Info found 100 pages 45 MB pdf files Now wait ...
1     These team members Drewes van der Laag urlLink...
2     In het kader van kernfusie op aarde MAAK JE EI...
3                                       testing testing
4     Thanks Yahoos Toolbar I capture URLs popupswhi...
5     I interesting conversation Dad morning We talk...
6     Somehow CocaCola way summing things well In ea...
7     If anything Korea country extremes Everything ...
8     Take read news article urlLink JoongAng Ilbo N...
9     I surf English news sites lot looking tidbits ...
10    Ah Korean languageit looks difficult first fig...
11    If click profile youll make notsostartling dis...
12    Last night pretty funmostly company I kept I r...
13    There much different anything Ive ever seen we...
14    urlLink Here superfantastic phonebox Today gre...
15    One thing I love Seoul I mean Korea generalI h...
16    urlLink Wonderful ohgyupsal favorite pork rest...
17    Here latest Korean rumor mill made way Coquitl...
18    Well I stand corrected Yesterday I blogged Coq...
19    So Ive Vancouver days nowin Coquitlam actually...
20    Whenever I see pregnant Korean lady I really f...
21    My wife posed strange question tonight Apparen...
22    As readers know favorite airline Singapore Air...
23    When I Seoul last months I thought wife kinda ...
24    You may noticed new feature blogits blog email...
25    Korea especially Seoul pretty cool Canada espe...
26    It seems everything smooth Seoul concerning re...
27    This may long bloggot lot thoughts going head ...
28    Ive always thought Seouls urlLink subways real...
29    Big cities famous expensive places live others...
...                                                 ...
4970  mm I going rant timeclockswatches like says so...
4971  So I guess kind like I already told Ive fallen...
4972  shade red looks like blood doesnt matter doesn...
4973  look teaching html well I suppose halfway dece...
4974  My name Rachel duh already knew rachel hebrew ...
4975  Another depressing song I dont know I like I s...
4976  Ive falling pieces past several months I think...
4977  Im suffocating My lungs bursting If hit I woul...
4978  peaches nectar gods mmmmmmmmm Sometimes Im lay...
4979  AHHH I need pillow scream oh book Im reading g...
4980  Young Really young Id say anywhere 1535 But yo...
4981                                         thats Sama
4982
4983
4984                 one looks kinda cool squished like
4985  yay uploading pics angelfire putting blog exce...
4986  Ok last time today I promise Im really REALLY ...
4987  oh I forgot last night cantor practice I consi...
4988  So I got new commenting host I didnt like old ...
4989  Last night NOT good night end story Today inte...
4990  Sometimes I swear song 3am Matchbox Twenty say...
4991  much sleeping I know time I know time used I t...
4992  I miserable failure incredibly irresponsible l...
4993  hey Ive almost 300 hits WHO ARE ALL OF YOU PEOPLE
4994  This Sylvia Plath poem I talking Tulips Sylvia...
4995  So I another one dreams last night except time...
4996  mmm strawberry tea breakfast Tomorrow I think ...
4997  Yay new layout Yeah I know I need get complica...
4998  Ok I lied Fed isnt playing Friday night Its Th...
4999  well today I went church talked music director...

                                        text_lemmatized  \
0     Info found 100 page 45 MB pdf file Now wait un...
1     These team member Drewes van der Laag urlLink ...
2     In het kader van kernfusie op aarde MAAK JE EI...
3                                       testing testing
4     Thanks Yahoos Toolbar I capture URLs popupswhi...
5     I interesting conversation Dad morning We talk...
6     Somehow CocaCola way summing thing well In ear...
7     If anything Korea country extreme Everything s...
8     Take read news article urlLink JoongAng Ilbo N...
9     I surf English news site lot looking tidbit Ko...
10    Ah Korean languageit look difficult first figu...
11    If click profile youll make notsostartling dis...
12    Last night pretty funmostly company I kept I r...
13    There much different anything Ive ever seen we...
14    urlLink Here superfantastic phonebox Today gre...
15    One thing I love Seoul I mean Korea generalI h...
16    urlLink Wonderful ohgyupsal favorite pork rest...
17    Here latest Korean rumor mill made way Coquitl...
18    Well I stand corrected Yesterday I blogged Coq...
19    So Ive Vancouver day nowin Coquitlam actually ...
20    Whenever I see pregnant Korean lady I really f...
21    My wife posed strange question tonight Apparen...
22    As reader know favorite airline Singapore Air ...
23    When I Seoul last month I thought wife kinda e...
24    You may noticed new feature blogits blog email...
25    Korea especially Seoul pretty cool Canada espe...
26    It seems everything smooth Seoul concerning re...
27    This may long bloggot lot thought going head l...
28    Ive always thought Seouls urlLink subway real ...
29    Big city famous expensive place live others co...
...                                                 ...
4970  mm I going rant timeclockswatches like say soc...
4971  So I guess kind like I already told Ive fallen...
4972  shade red look like blood doesnt matter doesnt...
4973  look teaching html well I suppose halfway dece...
4974  My name Rachel duh already knew rachel hebrew ...
4975  Another depressing song I dont know I like I s...
4976  Ive falling piece past several month I think I...
4977  Im suffocating My lung bursting If hit I would...
4978  peach nectar god mmmmmmmmm Sometimes Im laying...
4979  AHHH I need pillow scream oh book Im reading g...
4980  Young Really young Id say anywhere 1535 But yo...
4981                                         thats Sama
4982
4983
4984                  one look kinda cool squished like
4985  yay uploading pic angelfire putting blog excep...
4986  Ok last time today I promise Im really REALLY ...
4987  oh I forgot last night cantor practice I consi...
4988  So I got new commenting host I didnt like old ...
4989  Last night NOT good night end story Today inte...
4990  Sometimes I swear song 3am Matchbox Twenty say...
4991  much sleeping I know time I know time used I t...
4992  I miserable failure incredibly irresponsible l...
4993   hey Ive almost 300 hit WHO ARE ALL OF YOU PEOPLE
4994  This Sylvia Plath poem I talking Tulips Sylvia...
4995  So I another one dream last night except time ...
4996  mmm strawberry tea breakfast Tomorrow I think ...
4997  Yay new layout Yeah I know I need get complica...
4998  Ok I lied Fed isnt playing Friday night Its Th...
4999  well today I went church talked music director...

                                      text_preprocessed
0     info found 100 page 45 MB pdf file now wait un...
1     these team member drew van der laag urllink ma...
2     In het kader van kernfusi op aard maak JE eige...
3                                             test test
4     thank yahoo toolbar I captur url popupswhich m...
5     I interest convers dad morn We talk korean put...
6     somehow cocacola way sum thing well In earli 1...
7     If anyth korea countri extrem everyth seem fad...
8     take read news articl urllink joongang ilbo no...
9     I surf english news site lot look tidbit korea...
10    Ah korean languageit look difficult first figu...
11    If click profil youll make notsostartl discove...
12    last night pretti funmostli compani I kept I r...
13    there much differ anyth ive ever seen well I h...
14    urllink here superfantast phonebox today great...
15    one thing I love seoul I mean korea generali h...
16    urllink wonder ohgyups favorit pork restaur it...
17    here latest korean rumor mill made way coquitl...
18    well I stand correct yesterday I blog coquitla...
19    So ive vancouv day nowin coquitlam actual it r...
20    whenev I see pregnant korean ladi I realli fee...
21    My wife pose strang question tonight appar new...
22    As reader know favorit airlin singapor air sai...
23    when I seoul last month I thought wife kinda e...
24    you may notic new featur blogit blog email not...
25    korea especi seoul pretti cool canada especi v...
26    It seem everyth smooth seoul concern recent ch...
27    thi may long bloggot lot thought go head last ...
28    ive alway thought seoul urllink subway real jo...
29    big citi famou expens place live other cours h...
...                                                 ...
4970  mm I go rant timeclockswatch like say societi ...
4971  So I guess kind like I alreadi told ive fallen...
4972  shade red look like blood doesnt matter doesnt...
4973  look teach html well I suppos halfway decent isnt

# As we want to make this into a multi-label classification problem, you are required to merge all the label columns together, so that we have all the labels together for a particular sentence

In [115]:
label_y = []

for row in blog_df.iterrows():
    row_labels = []
    row_labels.append(str(row[1][1]))
    row_labels.append(str(row[1][2]))
    row_labels.append(str(row[1][3]))
    row_labels.append(str(row[1][4]))
    label_y.append(row_labels)

blog_df['Labels'] = label_y
blog_df.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,id,gender,age,topic,sign,date,text,text_wo_stopfreq,text_wo_stopfreqrare,text_lemmatized,text_preprocessed,Labels
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",Info found 100 pages 45 MB pdf files Now wait ...,Info found 100 pages 45 MB pdf files Now wait ...,Info found 100 page 45 MB pdf file Now wait un...,info found 100 page 45 MB pdf file now wait un...,"[male, 15, Student, Leo]"
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,These team members Drewes van der Laag urlLink...,These team members Drewes van der Laag urlLink...,These team member Drewes van der Laag urlLink ...,these team member drew van der laag urllink ma...,"[male, 15, Student, Leo]"
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,In het kader van kernfusie op aarde MAAK JE EI...,In het kader van kernfusie op aarde MAAK JE EI...,In het kader van kernfusie op aarde MAAK JE EI...,In het kader van kernfusi op aard maak JE eige...,"[male, 15, Student, Leo]"
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing,testing testing,testing testing,test test,"[male, 15, Student, Leo]"
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,Thanks Yahoos Toolbar I capture URLs popupswhi...,Thanks Yahoos Toolbar I capture URLs popupswhi...,Thanks Yahoos Toolbar I capture URLs popupswhi...,thank yahoo toolbar I captur url popupswhich m...,"[male, 33, InvestmentBanking, Aquarius]"

# Create a dictionary to get the count of every label i.e. the key will be label name and value will be the total count of the label. Check below image for reference

In [116]:
gender = blog_df['gender'].value_counts().to_dict()
print(gender)

{'male': 3294, 'female': 1706}

In [117]:
topics = blog_df['topic'].value_counts().to_dict()
print(topics)

{'Technology': 2332, 'indUnk': 1381, 'Student': 569, 'Engineering': 119, 'Education': 118, 'BusinessServices': 87, 'Sports-Recreation': 75, 'InvestmentBanking': 70, 'Communications-Media': 61, 'Non-Profit': 47, 'Science': 33, 'Arts': 31, 'Internet': 20, 'Consulting': 16, 'Banking': 16, 'Automotive': 14, 'Religion': 4, 'Law': 3, 'Accounting': 2, 'Museums-Libraries': 2}

In [118]:
age = blog_df['age'].value_counts().to_dict()
print(age)

{35: 2307, 34: 540, 24: 353, 15: 339, 17: 331, 25: 268, 14: 170, 23: 137, 33: 101, 26: 96, 27: 86, 39: 79, 16: 67, 36: 60, 37: 19, 41: 14, 45: 14, 42: 9, 46: 7, 44: 3}

In [119]:
blog_df = blog_df[["text_preprocessed", "Labels"]]
blog_df.head()

,text_preprocessed,Labels
0,info found 100 page 45 MB pdf file now wait un...,"[male, 15, Student, Leo]"
1,these team member drew van der laag urllink ma...,"[male, 15, Student, Leo]"
2,In het kader van kernfusi op aard maak JE eige...,"[male, 15, Student, Leo]"
3,test test,"[male, 15, Student, Leo]"
4,thank yahoo toolbar I captur url popupswhich m...,"[male, 33, InvestmentBanking, Aquarius]"

# Separate features and labels, and split the data into training and testing

In [120]:
X = blog_df['text_preprocessed']
y = blog_df['Labels']

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Vectorize the features

In [122]:
cnt_vectorizer = CountVectorizer(ngram_range=(1,2))
X_train = cnt_vectorizer.fit_transform(X_train)
X_test = cnt_vectorizer.transform(X_test)

In [123]:
cnt_vectorizer.get_feature_names()

['000',
 '000 peopl',
 '0000',
 '0000 blink',
 '001',
 '001 first',
 '002',
 '002 middl',
 '003',
 '003 last',
 '004',
 '004 nicknam',
 '005',
 '005 gender',
 '006',
 '006 age',
 '007',
 '007 birthday',
 '007 game',
 '007 jersey',
 '008',
 '008 height',
 '009',
 '009 hair',
 '01',
 '01 2003',
 '01 bett',
 '01 mean',
 '01 mind',
 '010',
 '010 eye',
 '010203',
 '010203 heheh',
 '011',
 '011 race',
 '012',
 '012 glass',
 '012 last',
 '01234',
 '01234 but',
 '013',
 '013 dodid',
 '014',
 '014 is',
 '015',
 '015 where',
 '016',
 '016 current',
 '017',
 '017 zodiac',
 '018',
 '018 how',
 '019',
 '019 nation',
 '02',
 '02 ad',
 '02 and',
 '02 britney',
 '02 face',
 '02 lott',
 '02 republican',
 '02 where',
 '020',
 '020 bad',
 '020031',
 '020031 pm',
 '021',
 '021 it',
 '021 pierc',
 '02182004',
 '02182004 urllink',
 '022',
 '022 pierc',
 '02232004',
 '023',
 '023 tattoo',
 '024',
 '024 tattoo',
 '025',
 '025 today',
 '025613',
 '025613 pm',
 '026',
 '026 main',
 '026 the',
 '027',
 '027 readi',
 '028',
 '028 mother',
 '029',
 '029 father',
 '03',
 '03 calvin',
 '03 januari',
 '03 know',
 '030',
 '030 steppar',
 '031',
 '031 brotherss',
 '03152004',
 '03152004 urllink',
 '032',
 '032 sisterss',
 '033',
 '033 favorit',
 '033100',
 '033100 pm',
 '034',
 '034 favorit',
 '035',
 '035 favorit',
 '036',
 '036 worst',
 '037',
 '037 best',
 '038',
 '038 do',
 '039',
 '039 doe',
 '04',
 '04 ad',
 '04 the',
 '040',
 '040 24hour',
 '040 do',
 '041',
 '041 what',
 '042',
 '042 what',
 '043',
 '043 are',
 '044',
 '044 did',
 '045',
 '045 current',
 '045090',
 '045090 usd',
 '046',
 '046 favorit',
 '047',
 '047 least',
 '048',
 '048 favorit',
 '049',
 '049 least',
 '05',
 '05 074658',
 '05 jul',
 '05 may',
 '050',
 '050 favorit',
 '051',
 '051 least',
 '051304',
 '051304 email',
 '052',
 '052 dodid',
 '05292004',
 '05292004 dreamtheaternet',
 '053',
 '053 play',
 '054',
 '054 dodid',
 '055',
 '055 arewer',
 '056',
 '056 favorit',
 '057',
 '057 favorit',
 '058',
 '058 least',
 '059',
 '059 least',
 '06',
 '06 091103',
 '06 100010',
 '06 112850',
 '06 121148',
 '06 sure',
 '060',
 '060 most',
 '060404',
 '060404 better',
 '061',
 '061 number',
 '062',
 '062 cloth',
 '063',
 '063 shoe',
 '064',
 '064 say',
 '065',
 '065 tv',
 '066',
 '066 sport',
 '067',
 '067 veget',
 '068',
 '068 fruit',
 '069',
 '069 movi',
 '06th',
 '06th 1987',
 '070',
 '070 magazin',
 '07072004',
 '07072004 143958',
 '071',
 '071 actor',
 '072',
 '072 actress',
 '073',
 '073 candi',
 '074',
 '074 gum',
 '074114',
 '074114 gmt',
 '074658',
 '074658 pm',
 '075',
 '075 scent',
 '076',
 '076 candi',
 '077',
 '077 ice',
 '078',
 '078 color',
 '079',
 '079 season',
 '080',
 '080 for',
 '080 holiday',
 '081',
 '081 band',
 '082',
 '082 singer',
 '083',
 '083 group',
 '0830am',
 '0830am ask',
 '084',
 '084 rapper',
 '085',
 '085 type',
 '086',
 '086 thing',
 '087',
 '087 place',
 '088',
 '088 radio',
 '089',
 '089 tv',
 '09',
 '09 almost',
 '090',
 '090 junk',
 '091',
 '091 overal',
 '091103',
 '091103 am',
 '0915',
 '0915 am',
 '092',
 '092 store',
 '093',
 '093 shoe',
 '094',
 '094 fast',
 '095',
 '095 restaur',
 '096',
 '096 shape',
 '097',
 '097 time',
 '098',
 '098 countri',
 '099',
 '099 state',
 '0nbsp',
 '0nbsp think',
 '0o',
 '0o well',
 '10',
 '10 11',
 '10 12',
 '10 15',
 '10 22',
 '10 acquaint',
 '10 all',
 '10 am',
 '10 anyway',
 '10 año',
 '10 begin',
 '10 best',
 '10 bibl',
 '10 buck',
 '10 by',
 '10 collect',
 '10 come',
 '10 cs',
 '10 day',
 '10 dec',
 '10 didnt',
 '10 dirti',
 '10 dispos',
 '10 dress',
 '10 empir',
 '10 enough',
 '10 euro',
 '10 eurossurprisingli',
 '10 evil',
 '10 exactli',
 '10 foot',
 '10 friend',
 '10 fuzzi',
 '10 ga',
 '10 game',
 '10 gener',
 '10 get',
 '10 gig',
 '10 golf',
 '10 good',
 '10 grover',
 '10 he',
 '10 hey',
 '10 hole',
 '10 hour',
 '10 hr',
 '10 indic',
 '10 interview',
 '10 is',
 '10 italian',
 '10 item',
 '10 join',
 '10 kkycfm1023',
 '10 lb',
 '10 line',
 '10 lioaz',
 '10 liter',
 '10 littl',
 '10 min',
 '10 minut',
 '10 minutesnbsp',
 '10 month',
 '10 muahahahaha',
 '10 much',
 '10 murder',
 '10 now',
 '10 oclock',
 '10 page',
 '10 peopl',
 '10 percent',
 '10 perhap',
 '10 pluswtfmak',
 '10 pm',
 '10 point',
 '10 pound',
 '10 pple',
 '10 read',
 '10 resid',
 '10 rock',
 '10 second',
 '10 seriou',
 '10 she',
 '10 someth',
 '10 sport',
 '10 st',
 '10 stay',
 '10 still',
 '10 straight',
 '10 strict',
 '10 the',
 '10 thing',
 '10 time',
 '10 today',
 '10 usc',
 '10 wasnt',
 '10 week',
 '10 went',
 '10 when',
 '10 whether',
 '10 white',
 '10 wingstop',
 '10 worst',
 '10 ye',
 '10 year',
 '10 you',
 '100',
 '100 195',
 '100 and',
 '100 back',
 '100 backped',
 '100 boy',
 '100 cheaper',
 '100 clear',
 '100 correctli',
 '100 denver',
 '100 email',
 '100 foot',
 '100 go',
 '100 got',
 '100 gram',
 '100 guess',
 '100 kid',
 '100 kind',
 '100 left',
 '100 like',
 '100 machin',
 '100 mark',
 '100 mile',
 '100 million',
 '100 mom',
 '100 month',
 '100 nation',
 '100 page',
 '100 peopl',
 '100 pleas',
 '100 posit',
 '100 post',
 '100 pound',
 '100 round',
 '100 run',
 '100 safe',
 '100 so',
 '100 thing',
 '100 thursday',
 '100 time',
 '100 today',
 '100 ton',
 '100 tonight',
 '100 yard',
 '100 year',
 '1000',
 '1000 base',
 '1000 big',
 '1000 buck',
 '1000 care',
 '1000 disney',
 '1000 doesnt',
 '1000 exactli',
 '1000 get',
 '1000 jesu',
 '1000 layer',
 '1000 mile',
 '1000 morn',
 '1000 owe',
 '1000 page',
 '1000 point',
 '1000 pound',
 '1000 summit',
 '1000 suppos',
 '1000 the',
 '1000 time',
 '1000 usd',
 '1000 won115',
 '1000 year',
 '1000 you',
 '10000',
 '10000 bomber',
 '10000 english',
 '10000 give',
 '10000 new',
 '10000 pair',
 '10000 sumber',
 '100000',
 '100000 1998',
 '100000 cop',
 '100000 protestor',
 '100000 relief',
 '1000000',
 '1000000 mile',
 '1000000 peopl',
 '1000020000',
 '1000020000 usd',
 '10000th',
 '10000th time',
 '100010',
 '100010 am',
 '100am',
 '100am thi',
 '100gb',
 '100gb drive',
 '100m',
 '100m song',
 '100pre',
 '100pre hacen',
 '100th',
 '100th attempt',
 '100th birthday',
 '100th post',
 '100th store',
 '101',
 '101 aday',
 '101 detroit',
 '101 everi',
 '101 girl',
 '101 john',
 '101 mark',
 '101 spoke',
 '1011',
 '1011 hr',
 '1011 year',
 '10112000',
 '10112000 urllink',
 '1012',
 '1012 hour',
 '1015',
 '1015 least',
 '1015 per',
 '1015 pm',
 '1015 second',
 '1015 year',
 '10152003',
 '10152003 025613',
 '10152003 033100',
 '10152003 114641',
 '1015am',
 '1015am so',
 '102',
 '102 mall',
 '102 monterrey',
 '1020',
 '1020 back',
 '1020 market',
 '1020 think',
 '1020 we',
 '1020 year',
 '10203',
 '10203 deal',
 '102203',
 '102203 911',
 '10232003',
 '10232003 020031',
 '10232003 125331',
 '103',
 '103 11',
 '103 13',
 '103 better',
 '103 kingston',
 '103 sigh',
 '103 video',
 '1030',
 '1030 almost',
 '1030 but',
 '1030 byer',
 '1030 flight',
 '1030 like',
 '1030 so',
 '1030 tuesday',
 '1030 wait',
 '1030 want',
 '1030am',
 '1030am everyon',
 '1031821',
 '1031821 receiv',
 '104',
 '104 kuala',
 '104 monday',
 '104 shampoo',
 '1045',
 '1045 daze',
 '1045 im',
 '1045am',
 '1045am woohoo',
 '1046',
 '1046 dress',
 '105',
 '105 board',
 '105 game',
 '105 portland',
 '1052fm',
 '1052fm seck',
 '106',
 '106 annex',
 '106 comput',
 '106 panama',
 '106 pm',
 '1067',
 '1067 fm',
 '107',
 '107 car',
 '107 mostli',
 '107 ton',
 '107 winston',
 '108',
 '108 bottom',
 '108 guatemala',
 '108 music',
 '108 token',
 '109',
 '109 mumbai',
 '109 swear',
 '1095',
 '1095 spent',
 '10950000',
 '10950000 most',
 '10am',
 '10am immedi',
 '10ambut',
 '10ambut till',
 '10freakin45',
 '10freakin45 like',
 '10just',
 '10just wonder',
 '10midnight',
 '10midnight one',
 '10mile',
 '10mile fun',
 '10min',
 '10min one',
 '10nbsp',
 '10nbsp like',
 '10pm',
 '10pm 1am',
 '10pm apolog',
 '10pm especi',
 '10pm it',
 '10pm leav',
 '10pm roll',
 '10pm the',
 '10pm went',
 '10pmet',
 '10pmet also',
 '10second',
 '10second time',
 '10th',
 '10th 11th',
 '10th afterward',
 '10th anniversari',
 '10th book',
 '10th dinner',
 '10th final',
 '10th galleri',
 '10th grade',
 '10th may',
 '10th mr',
 '10th sycamor',
 '10th urllink',
 '10th year',
 '10wordsorless',
 '10wordsorless instruct',
 '10x',
 '10x wors',
 '10year',
 '10year 135',
 '10year period',
 '10you',
 '10you know',
 '11',
 '11 10',
 '11 12',
 '11 15',
 '11 2001',
 '11 2253',
 '11 all',
 '11 am',
 '11 beij',
 '11 color',
 '11 could',
 '11 day',
 '11 er',
 '11 guess',
 '11 he',
 '11 ish',
 '11 itll',
 '11 march',
 '11 mind',
 '11 miss',
 '11 morn',
 '11 next',
 '11 not',
 '11 one',
 '11 par',
 '11 plu',
 '11 pm',
 '11 probe',
 '11 public',
 '11 rbi',
 '11 row',
 '11 the',
 '11 virginia',
 '11 walk',
 '11 year',
 '110',
 '110 bandar',
 '110 done',
 '110 mm',
 '110 word',
 '1100',
 '1100 becas',
 '1100 current',
 '1100 get',
 '1100 go',
 '1100 morn',
 '1100 train',
 '11000',
 '11000 chocol',
 '11000 microsoft',
 '11001130',
 '11001130 bu',
 '11001300ad',
 '11001300ad right',
 '11003',
 '11003 your',
 '1100th',
 '1100th croissant',
 '1105',
 '1105 1105',
 '1105 35',
 '1108',
 '1108 as',
 '111',
 '111 everyon',
 '111 lago',
 '111 month',
 '1110',
 '1110 victori',
 '1111',
 '1111 seen',
 '111398',
 '111398 did',
 '1118',
 '1118 pm',
 '112',
 '112 calori',
 '112 cartoon',
 '112 pittsburgh',
 '1122',
 '1122 1222',
 '1127am',
 '1127am fast',
 '112850',
 '112850 am',
 '113',
 '113 montreal',
 '113 percent',
 '113 scari',
 '1130',
 '1130 amthey',
 '1130 fall',
 '1130 plane',
 '1130 realli',
 '1130nvmstill',
 '1130nvmstill irrit',
 '1130pm730am',
 '1130pm730am mind',
 '1130pm730am one',
 '114',
 '114 accus',
 '114 calgari',
 '114 team',
 '1140',
 '1140 finish',
 '11400',
 '11400 foot',
 '1145',
 '1145 got',
 '1145pm',
 '1145pm got',
 '114641',
 '114641 am',
 '115',
 '115 possess',
 '115 tianjin',
 '1150am',
 '1150am fli',
 '1155pm',
 '1155pm catch',
 '1155pm there',
 '116',
 '116 eminem',
 '116 new',
 '117',
 '117 dacca',
 '117 dog',
 '118',
 '118 hot',
 '118 lima',
 '119',
 '119 bangkok',
 '119 britney',
 '11am',
 '11am good',
 '11am meet',
 '11am pull',
 '11nbspfuck',
 '11nbspfuck you',
 '11pm',
 '11pm how',
 '11pm know',
 '11pm lioaz',
 '11pm needless',
 '11pm someday',
 '11pm watch',
 '11th',
 '11th came',
 '11th circuit',
 '11th june',
 '11th nasa',
 '11th peopl',
 '11th there',
 '12',
 '12 10',
 '12 12',
 '12 13',
 '12 2003',
 '12 2b',
 '12 account',
 '12 actual',
 '12 and',
 '12 biy',
 '12 block',
 '12 boyfriend',
 '12 chrisjo',
 '12 comp',
 '12 comput',
 '12 cup',
 '12 day',
 '12 drive',
 '12 elig',
 '12 favorit',
 '12 first',
 '12 fold',
 '12 font',
 '12 foot',
 '12 game',
 '12 hi',
 '12 hot',
 '12 hour',
 '12 hr',
 '12 hrsnbsp',
 '12 id',
 '12 know',
 '12 leg',
 '12 littl',
 '12 long',
 '12 maybechri',
 '12 mile',
 '12 million',
 '12 minut',
 '12 month',
 '12 myron',
 '12 new',
 '12 oldest',
 '12 par',
 '12 percent',
 '12 pint',
 '12 popcornscoz',
 '12 practic',
 '12 price',
 '12 script',
 '12 sec',
 '12 stimp',
 '12 student',
 '12 sunris',
 '12 teaspoon',
 '12 they',
 '12 time',
 '12 uni',
 '12 uniqu',
 '12 volum',
 '12 way',
 '12 wear',
 '12 week',
 '12 year',
 '12 your',
 '12 yr',
 '120',
 '120 45',
 '120 left',
 '120 mm',
 '120 nsync',
 '120 tuni',
 '1200',
 '1200 omg',
 '1200 that',
 '12000',
 '12000 btu',
 '120000',
 '120000 ground',
 '121',
 '121 nairobi',
 '121 real',
 '121148',
 '121148 pm',
 '1213',
 '1213 year',
 '1215',
 '1215 figur',
 '1215am',
 '1215am spent',
 '1218',
 '1218 appar',
 '122',
 '122 among',
 '122 orang',
 '122 tehran',
 '1222',
 '1222 130',
 '12272002',
 '12272002 930',
 '123',
 '123 choic',
 '123 dont',
 '123 fame',
 '123 santiago',
 '123 weekend',
 '1230',
 '1230 330',
 '1230 everynight',
 '1230 got',
 '1230 hour',
 '1230 time',
 '1230 want',
 '1234',
 '1234 1234',
 '1234 half',
 '1234 took',
 '124',
 '124 fuck',
 '124 ottawa',
 '124 percent',
 '1240',
 '1240 time',
 '1245',
 '1245 everi',
 '1245 explos',
 '1245 pure',
 '124am',
 '124am 30',
 '125',
 '125 bed',
 '125 bisexu',
 '125 lusaka',
 '125331',
 '125331 pm',
 '126',
 '126 around',
 '126 black',
 '126 johannesburg',
 '127',
 '127 am',
 '127 colombo',
 '127 icq',
 '128',
 '128 insan',
 '128 mb',
 '128 são',
 '129',
 '129 bucharest',
 '129 linkin',
 '1295',
 '1295 top',
 '12am',
 '12am 2am',
 '12am one',
 '12hour',
 '12hour interv',
 '12month',
 '12month period',
 '12th',
 '12th amend',
 '12th august',
 '12th christma',
 '12th grade',
 '12th it',
 '12th march',
 '12th novemb',
 '12th place',
 '12yearold',
 '12yearold target',
 '13',
 '13 062',
 '13 11',
 '13 14',
 '13 16',
 '13 17',
 '13 day',
 '13 euro',
 '13 hi',
 '13 hour',
 '13 inning',
 '13 kiloton',
 '13 miami',
 '13 milan',
 '13 million',
 '13 mm',
 '13 movi',
 '13 play',
 '13 take',
 '13 tape',
 '13 walk',
 '13 week',
 '13 year',
 '13 you',
 '130',
 '130 1105',
 '130 came',
 '130 dont',
 '130 end',
 ...]

# Transform the labels - (7.5 points)
As we have noticed before, in this task each example can have multiple tags. To deal with such kind of prediction, we need to transform labels in a binary form and the prediction will be a mask of 0s and 1s. For this purpose, it is convenient to use MultiLabelBinarizer from sklearn
a.	Convert your train and test labels using MultiLabelBinarizer

In [125]:
mlb = MultiLabelBinarizer()
y_train_multi = mlb.fit_transform(y_train)
y_test_multi = mlb.transform(y_test)

# Choose a classifier - (5 points)
In this task, we suggest using the One-vs-Rest approach, which is implemented in OneVsRestClassifier class. In this approach k classifiers (= number of tags) are trained. As a basic classifier, use LogisticRegression. It is one of the simplest methods, but often it performs good enough in text classification tasks. It might take some time because the number of classifiers to train is large.
a.	Use a linear classifier of your choice, wrap it up in OneVsRestClassifier to train it on every label

In [127]:
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial')
classif = OneVsRestClassifier(clf)
classif.fit(X_train, y_train_multi)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='multinomial',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=0, solver='lbfgs',
                                                 tol=0.0001, verbose=0,
                                                 warm_start=False),
                    n_jobs=None)

In [129]:
pred = classif.predict(X_test)

# Fit the classifier, make predictions and get the accuracy

In [130]:
results = multilabel_confusion_matrix(y_test_multi, pred) 
print('Confusion Matrix :')
print(results)
print('Report : ')
print(classification_report(y_test_multi, pred))

Confusion Matrix :
[[[ 961    2]
  [  32    5]]

 [[ 922   10]
  [  46   22]]

 [[ 982    0]
  [  18    0]]

 [[ 916   10]
  [  55   19]]

 [[ 959   12]
  [  29    0]]

 [[ 926    5]
  [  50   19]]

 [[ 945    9]
  [  39    7]]

 [[ 978    0]
  [  22    0]]

 [[ 978    1]
  [  15    6]]

 [[ 978    1]
  [  12    9]]

 [[ 882    9]
  [  38   71]]

 [[ 452  100]
  [  48  400]]

 [[ 987    4]
  [   8    1]]

 [[ 998    0]
  [   2    0]]

 [[ 982    0]
  [  16    2]]

 [[ 999    0]
  [   1    0]]

 [[ 997    0]
  [   3    0]]

 [[1000    0]
  [   0    0]]

 [[ 996    1]
  [   3    0]]

 [[ 997    1]
  [   2    0]]

 [[1000    0]
  [   0    0]]

 [[ 918   13]
  [  46   23]]

 [[ 404  111]
  [  59  426]]

 [[ 994    0]
  [   6    0]]

 [[ 996    0]
  [   4    0]]

 [[ 995    0]
  [   5    0]]

 [[ 984    2]
  [  12    2]]

 [[ 985    0]
  [  13    2]]

 [[ 980    0]
  [  10   10]]

 [[ 988    1]
  [   9    2]]

 [[ 994    1]
  [   5    0]]

 [[ 969    2]
  [  24    5]]

 [[ 969    5]
  [  19    7]]

 [[ 985    0]
  [  15    0]]

 [[ 995    0]
  [   5    0]]

 [[ 987    1]
  [   3    9]]

 [[ 998    0]
  [   2    0]]

 [[ 960    2]
  [  36    2]]

 [[ 902   14]
  [  45   39]]

 [[1000    0]
  [   0    0]]

 [[ 995    1]
  [   4    0]]

 [[ 988    3]
  [   7    2]]

 [[1000    0]
  [   0    0]]

 [[ 834   13]
  [  77   76]]

 [[ 995    0]
  [   5    0]]

 [[ 906    8]
  [  71   15]]

 [[ 982    0]
  [   8   10]]

 [[ 870   16]
  [  81   33]]

 [[ 976    7]
  [  17    0]]

 [[ 449   96]
  [  46  409]]

 [[ 987    4]
  [   9    0]]

 [[ 608   45]
  [ 112  235]]

 [[ 658   57]
  [ 123  162]]

 [[ 235  112]
  [  45  608]]]
Report :
              precision    recall  f1-score   support

           0       0.71      0.14      0.23        37
           1       0.69      0.32      0.44        68
           2       0.00      0.00      0.00        18
           3       0.66      0.26      0.37        74
           4       0.00      0.00      0.00        29
           5       0.79      0.28      0.41        69
           6       0.44      0.15      0.23        46
           7       0.00      0.00      0.00        22
           8       0.86      0.29      0.43        21
           9       0.90      0.43      0.58        21
          10       0.89      0.65      0.75       109
          11       0.80      0.89      0.84       448
          12       0.20      0.11      0.14         9
          13       0.00      0.00      0.00         2
          14       1.00      0.11      0.20        18
          15       0.00      0.00      0.00         1
          16       0.00      0.00      0.00         3
          17       0.00      0.00      0.00         0
          18       0.00      0.00      0.00         3
          19       0.00      0.00      0.00         2
          20       0.00      0.00      0.00         0
          21       0.64      0.33      0.44        69
          22       0.79      0.88      0.83       485
          23       0.00      0.00      0.00         6
          24       0.00      0.00      0.00         4
          25       0.00      0.00      0.00         5
          26       0.50      0.14      0.22        14
          27       1.00      0.13      0.24        15
          28       1.00      0.50      0.67        20
          29       0.67      0.18      0.29        11
          30       0.00      0.00      0.00         5
          31       0.71      0.17      0.28        29
          32       0.58      0.27      0.37        26
          33       0.00      0.00      0.00        15
          34       0.00      0.00      0.00         5
          35       0.90      0.75      0.82        12
          36       0.00      0.00      0.00         2
          37       0.50      0.05      0.10        38
          38       0.74      0.46      0.57        84
          39       0.00      0.00      0.00         0
          40       0.00      0.00      0.00         4
          41       0.40      0.22      0.29         9
          42       0.00      0.00      0.00         0
          43       0.85      0.50      0.63       153
          44       0.00      0.00      0.00         5
          45       0.65      0.17      0.28        86
          46       1.00      0.56      0.71        18
          47       0.67      0.29      0.40       114
          48       0.00      0.00      0.00        17
          49       0.81      0.90      0.85       455
          50       0.00      0.00      0.00         9
          51       0.84      0.68      0.75       347
          52       0.74      0.57      0.64       285
          53       0.84      0.93      0.89       653

   micro avg       0.80      0.66      0.72      4000
   macro avg       0.42      0.23      0.28      4000
weighted avg       0.76      0.66      0.68      4000
 samples avg       0.79      0.66      0.69      4000

D:\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
D:\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [131]:
print('Accuracy Score :',accuracy_score(y_test_multi, pred))

Accuracy Score : 0.502